# Exclude large data files
data/audio/
data/metadata/
features/
results/
*.npy
*.mp3
*.wav
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db